html {
  text-align: center;
  font-family: helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h1,
#work {
  background-image: url("./resources/images/the-flatiron-building.png");
}
